.main {
  //border: 1px solid red;
  text-align: center;
  background-color: #ffffff;
}
.turn{
  //padding: 20px 10px;
  animation: around 1s linear infinite;
}

@keyframes around {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}